#card {
	background-color: rgba(117, 116, 116, 0.6);
	display: flex;
	width: 30rem;
	height: 15rem;
	border-radius: 10px;
	align-items: center;
	margin: 20px;
}

img {
	width: 13rem;
	height: 13rem;
}

@media only screen and (max-width: 600px) {
	img {
		width: 8rem;
		height: 8rem;
	}
}

ul {
	list-style: none;
}

h2 {
	font-size: 3.7vh;
}

h3 {
	font-size: 3.3vh;
}

h4 {
	font-size: 2.8vh;
}

h5 {
	font-size: 2.3vh;
}

@media only screen and (max-width: 375px) {
	h2 {
		font-size: 2.8vh
	}
	h3 {
		font-size: 2.3vh
	}
	h4 {
		font-size: 1.7vh
	}
	h5 {
		font-size: 1.5vh
	}
}
