#card {
	background-color: rgba(117, 116, 116, 0.6);
	display: flex;
	width: 30rem;
	height: 15rem;
	border-radius: 10px;
	align-items: center;
	margin: 20px;
}

img {
	width: 13em;
	height: 13em;
}

ul {
	list-style: none;
}